name: Tesseract Docker Publish

on:
  push:
    tags:
      - "tesseract-consensus-v[0-9]+.[0-9]+.[0-9]+"

concurrency:
  group: release-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build_and_publish:
    runs-on: release-runner
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GH_TOKEN }}
          submodules: recursive

      - uses: webfactory/ssh-agent@v0.5.4
        with:
          ssh-private-key: "${{ secrets.SSH_KEY }}"

      - name: Install Cargo get
        run: cargo install cargo-get

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_ACCESS_TOKEN }}

      - name: Get version
        id: version
        run: echo "VERSION=$(cargo get package.version --entry ./tesseract/consensus/relayer)" >> $GITHUB_OUTPUT

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./tesseract/consensus/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            polytopelabs/tesseract-consensus:v${{ steps.version.outputs.VERSION }}
            polytopelabs/tesseract-consensus:latest
