name: Tesseract Feature Tag Docker Publish

on:
  push:
    tags:
      - "tesseract-consensus-[a-z]+"

concurrency:
  group: release-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build_and_publish:
    runs-on: release-runner
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GH_TOKEN }}
          submodules: recursive

      - uses: webfactory/ssh-agent@v0.5.4
        with:
          ssh-private-key: "${{ secrets.SSH_KEY }}"

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_ACCESS_TOKEN }}

      - name: Extract feature flag
        id: feature
        run: echo "FEATURE=$(echo "$GITHUB_REF_NAME" | cut -d'-' -f"3")" >> $GITHUB_OUTPUT

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./tesseract/consensus/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: polytopelabs/tesseract-consensus:${{ steps.feature.outputs.FEATURE }}
          build-args: |
            FEATURES=${{ steps.feature.outputs.FEATURE }}
